#app {
    width: 100%;
    height: 800px;
    background-color: aliceblue;
}

.container
{
    text-align: center;
}

/*Start your code from here */

#MyCarousel{
    background-color: red;
}
#MyCarousel img{
    height:300px;
    margin-top: 35px;
}
.Carousel-inner p{
    margin-top: 15px;
    margin-bottom: 15px;
    color: white;
    font-size: 20px;
}